<%= @project.name %>
<br><br>
Total Hours: <%= @totalHours %>
<br><br>
<ul>
    <% @entries.each do |entry| %>
    <li>
        <%= "#{entry.date} - #{entry.comment} - #{entry.hours}:#{entry.minutes}" %>
    </li>
    <% end %>
</ul>