<script>Base.size = <%= @bases.length%></script>
<header class="padding-top bck dark">
    <div class="row">
        <div class="column_6">
            <h2 class="text italic bold">Profile Name
            <span class="tag bck theme">Rank: #0</span>
            </h2>
        </div>
        <div class="column_4">
            <h6 class="text italic">
                <span id="total_resources_money" class="icon money"> 120002</span>&nbsp&nbsp&nbsp&nbsp
                <span id="total_resources_petrol" class="icon tint"> 10002 </span>
            </h6>
        </div>
        <nav class="column_2  text right bold">
            <a data-method='delete' href="/users/sign_out" class="button small dark">Log Out</a>
        </nav>
    </div>
</header>

<section class="bck light">
    <div class="row text center">
        <nav id="base_list" data-tuktuk="menu" class="column_12 padding text bold">
            <% if @bases.length <= 0 %>
                <a id='create_first_base' href="#" class='active'><span class='baseName icon plus-sign'></span>Crea una base!</a>
            <% else %>
                <% @bases.each_with_index do |base, index| %>
                    <%= "<a href='#'><span id='base_name_#{index}' class='baseName icon building'></span>#{base.name}<small>(1)</small></a>" %>
                <% end %>
                <%= "<a href='#'><span id='create_base' class='baseName icon plus-sign'></span>New Base</a>" %>
            <% end %>
        </nav>
    </div>
</section>


<section id="mainSection" class="margin-bottom bck light padding-bottom">
    <div class="baseDataBox row">
        <% if @bases.length <= 0 %>
        <div class="column_6 padding-top padding-bottom">
            <h4 class="text italic bold color theme margin-left">Edificios:</h4>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
        </div>
        <div class="column_6 padding-top padding-bottom">
            <h4 class="text italic bold color theme margin-left">Unidades:</h4>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
            <a href="#"><div class="baseData column_5 bck grey margin-bottom padding-top padding-bottom">thumb</div></a>
        </div>
        <% end %>
    </div>
</section>

<footer id="mainFooter" class="padding align center text small">
    <div class="row">
        <div class="offset_3 column_6">
            <p>Made by PixelDream (<a target="_blank" class="text bold color theme" href="https://github.com/muit">Muit</a>, <a class="text bold color theme" href="https://github.com/alvarorgtr">alvaroRgtr</a>)
            </p>
            <small>Report an Issue <a target="_blank" class="text bold" href="https://bitbucket.org/ironhackproject/project/issues">Here</a>!</small>
        </div>
    </div>
</footer>

<div id="alert" data-tuktuk="modal" data-modal="alert" class="column_5">
  <header class="bck alert">
    <h4 class="text thin inline">Alert</h4>
  </header>
  <article id="alert-text" class="text big"></article>
  <footer>
    <button class="button large success on-right margin-bottom">
      <span id="alert_close" class="icon ok"></span>
    </button>
  </footer>
</div>
<div id="formModal" data-tuktuk="modal" data-modal="prompt" class="column_5">
  <header class="bck alert">
    <h4 class="text thin inline">Alert</h4>
  </header>
  <article class="text big">
    <form>
      <label for="formModal_text" id="text"></label>
      <input type="text" id="formModal_text">
    </form>
  </article>
  <footer>
    <button id="formModal_buttonNOT" class="button large alert on-right margin-bottom">
      <span class="icon remove"></span>
    </button>
    <button id="formModal_buttonOK" class="button large success on-right margin-bottom margin-right">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>
<div data-tuktuk="modal" data-modal="confirm" class="column_5">
  <header class="bck alert">
    <h4 class="text thin inline">Confirm</h4>
  </header>
  <article id="text" class="text big"></article>
  <footer>
    <button class="button large alert on-right margin-bottom">
      <span class="icon remove"></span>
    </button>
    <button class="button large success on-right margin-bottom margin-right">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>

<div data-tuktuk="lock" data-loading="false">
  <div class="loading"></div>
</div>
