<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<aside id="timetable" class="absolute bck light column_4" style="opacity: 0.95;">
    <div>
    <header class="bck theme" style="opacity: 1;">
        <div class="session on-left">
            <strong>Time Table</strong>
        </div>
        <a href="#" id="closeaside" data-box="close" class="on-right text big icon remove color white"></a>
    </header>
    <article class="bck dark scroll">

        <div class="margin-left margin-right">
            <h4 class="text bold color theme inline">Station Name</h4>
            <span class="margin-left tag bck color inline text bold">pro</span>
        </div>
        <hr>
        <div class="timetable inline">
            <div class="anchor timetablevalue bck light">table value</div>
            <div class="anchor timetablevalue bck light">table value</div>
            <div class="anchor timetablevalue bck light">table value</div>
            <div class="anchor timetablevalue bck light">table value</div>
            <div class="anchor timetablevalue bck light">table value</div>
            <div class="anchor timetablevalue bck light">table value</div>
        </div>
    </article>
    </div>
</aside>

<section>
    <header class = "align center">
        <div id="buttonsmenu">
            <button id="asidebutton" class="on-left theme small icon arrow-right"></button>
            <button id="menuasidebutton" class="on-right small icon flag"></button>
        </div>
        <h3 id="title" class="align center text thin">Transit<span class="tag bck theme">NEW!</span></h3>
    </header>

    <article class="padding scroll">
        <div class="margin-bottom align center">
            <nav>
                <a id="locateMe" class="button theme small"><span class="icon hand-up"></span>Locate me!</a>
                <a class="button small"><span class="icon search"></span>Search</a>
            </nav>
        </div>
        <div class="inside">
            <div id="map-canvas" class="column_9 light map"></div>
        </div>
    </article>

    <footer class="bck dark text center" style="opacity: 0.8;">
        Made By <a href="http://github.com/muit" class="color theme text bold">Muit
        <span class="icon github"></span></a>
    </footer>
</section>

<div id="controlmenu" data-tuktuk="modal" data-modal="confirm" class="side column_3" style="opacity: 0.95;">
    <header class="bck theme">
        <strong>Transit</strong>
        <a href="#" id="closemenuaside" data-box="close" class="on-right text big icon remove color white"></a>
    </header>
    <article class="bck dark scroll">
        <nav class="align center text bold" data-tuktuk="menu">
            <a href="#" class="active">Settings</a><br>
            <a href="#">Contact</a><br>
            <a href="#">About us</a><br>
        </nav>
    </article>
    <footer class="bck dark text center">
        TukTuk by <a href="http://tapquo.com" class="color theme text bold">tapquo</a>
    </footer>
</div>
<script>
    TukTuk.Modal.loading();
    setTimeout( TukTuk.Modal.hide, 1000);
</script>