/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./desktop
 *= require_self
 */
 
body > header .logo {
    margin-right: 1rem;
    max-height: 3rem;
    border-radius: .25rem;
}

body > footer img {
    height: 18px;
    position: relative;
    top: 5px;
    left: 2px; 
}

.baseDataBox {
    background-color: rgb(30,30,30);
.baseData {
    opacity: 1;
    margin-left: 0em;
    border-radius: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.baseData.hidden{
    opacity: 0;
    margin-left: -1em;
}
.baseData:hover:not(.hidden) {
    opacity: 0.7;
}

.baseDataTitle {
    opacity: 1;
    margin-left: 0em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.baseDataTitle.hidden{
    opacity: 0;
    margin-left: -1em;
}

.bck.grey{
    background-color: rgb(200,200,200);
}

#mainSection{
}
#mainFooter{
}

.ranking_row {
    border-radius: 2px;
}

.access_accounts_buttons a {
    display: inline-block;
}


.dataPanel{
    opacity: 1;
    margin-left: 0em;
    border-radius: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.dataPanel.hidden{
    display: none;
    opacity: 0;
    margin-left: -1em;
}