/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./desktop
 *= require_self
 */
 
body > header .logo {
    margin-right: 1rem;
    max-height: 3rem;
    border-radius: .25rem;
}

body > footer img {
    height: 18px;
    position: relative;
    top: 5px;
    left: 2px; 
}
.baseName {
    cursor: pointer;
}
.baseDataBox {
    background-color: rgb(30,30,30); 
}
.baseData {
    opacity: 0.9;
    margin-left: 0em;
    border-radius: 2px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.baseData.hidden{
    opacity: 0;
    margin-left: -1em;
}
.baseData:hover:not(.hidden) {
    opacity: 1;

    cursor: pointer;
}
.entityAdd{
    cursor: pointer;
}
.baseDataTitle {
    opacity: 1;
    margin-left: 0em;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.baseDataTitle.hidden{
    opacity: 0;
    margin-left: -1em;
}

.bck.grey{
    background-color: rgb(230,230,230);
}

.color.red{
    cursor: pointer;
    color: rgb(255,0,0);
}
.color.green{
    cursor: pointer;
    color: rgb(0,255,0);
}
.color.red:hover:not(.disabled){
    color: rgb(200,0,0);
}
.color.green:hover:not(.disabled){
    color: rgb(0,200,0);
}
.color.red.disabled{
    cursor: default;
    color: rgb(160,0,0);
}
.color.green.disabled{
    cursor: default;
    color: rgb(0,160,0);
}

input.small{
    width: 3em;
    border-radius: 2px;
}

#mainSection{
}
#mainFooter{
}

.ranking_row {
    border-radius: 2px;
}

.access_accounts_buttons a {
    display: inline-block;
}


.dataPanel{
    opacity: 1;
    border-radius: 2px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.dataPanel.hidden{
    display: none;
    opacity: 0;
    margin-left: 0em;
}
.baseData {
    height: 3em;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    vertical-align: center;
}