// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error {
	color: #d00;
}

#attack_alert, #combat_result_alert {
	border: solid 1px #c00;
}

.attack_alert_form {
	display: inline;
}

.victory {
	color: #0d0;
}

.defeat {
	color: #d00;
}